/Les3/build/
/07-ManipulateFormat/Practices/Practice1/07-ManipulateFormat_Practice1/build/
/07-ManipulateFormat/Practices/Practice1/07-ManipulateFormat_Practice1/nbproject/private/
/11-ArraysLoopsDates/Practices/Practice1/11-ArraysLoopsDates_Practice1/build/
/11-ArraysLoopsDates/Practices/Practice2/11-ArraysLoopsDates_Practice2/build/
/Les3/dist/
/SoccerApp/nbproject/private/
/SoccerApp/build/
/SoccerApp/dist/
/JavaExercises/build/
/JavaExercises/dist/
/JavaExercises/nbproject/private/
