/Les3/build/
/07-ManipulateFormat/Practices/Practice1/07-ManipulateFormat_Practice1/build/
/07-ManipulateFormat/Practices/Practice1/07-ManipulateFormat_Practice1/nbproject/private/
/11-ArraysLoopsDates/Practices/Practice1/11-ArraysLoopsDates_Practice1/build/
