/Les3/build/
/07-ManipulateFormat/Practices/Practice1/07-ManipulateFormat_Practice1/build/
/07-ManipulateFormat/Practices/Practice1/07-ManipulateFormat_Practice1/nbproject/private/
/11-ArraysLoopsDates/Practices/Practice1/11-ArraysLoopsDates_Practice1/build/
/11-ArraysLoopsDates/Practices/Practice2/11-ArraysLoopsDates_Practice2/build/
/Les3/dist/
/SoccerApp/nbproject/private/
/SoccerApp/build/
/SoccerApp/dist/
/JavaExercises/build/
/JavaExercises/dist/
/JavaExercises/nbproject/private/
/14-Exceptions/Practices/Practice1/14-Exceptions_Practice1/build/
/13-Interfaces/Practices/Practice2/13-UsingInterfaces_Practice2/build/
/13-Interfaces/Practices/Practice3/13-UsingInterfaces_Practice3/build/
